In [19]:
import pandas as pd

In [20]:
bourbon = pd.read_csv("datasets/bourbon.csv")
continental = pd.read_csv("datasets/continental.csv")
foz_plaza = pd.read_csv("datasets/foz_plaza.csv")
nadai = pd.read_csv("datasets/nadai.csv")
taroba = pd.read_csv("datasets/taroba.csv")
viale_cataratas = pd.read_csv("datasets/viale_cataratas.csv")
viale_tower = pd.read_csv("datasets/viale_tower.csv")

In [21]:
def show_info(df_hotel):
    hotel = df_hotel['hotel_id'].iloc[0]
    num_reviews = df_hotel.shape[0]
    
    print("=" * 40)
    print(f"Hotel: {hotel}")
    print(f"Total Reviews: {num_reviews}")
    print("=" * 40)
    print("Category Summary:")
    for category in df_hotel['category'].unique():
        df_cat = df_hotel[df_hotel['category'] == category]
        total = df_cat.shape[0]
        positive = df_cat[df_cat['sentiment'] == 1].shape[0]
        negative = df_cat[df_cat['sentiment'] == 0].shape[0]
        print(f"\n -> {category}")
        print(f"    Total   : {total}")
        print(f"    Positive: {positive}")
        print(f"    Negative: {negative}")
    print("\n" + "-" * 40)

## Bourbon

In [22]:
show_info(bourbon)

========================================
Hotel: bourbon
Total Reviews: 1254
========================================
Category Summary:

 -> Quarto
    Total   : 468
    Positive: 392
    Negative: 76

 -> Localização
    Total   : 171
    Positive: 167
    Negative: 4

 -> Áreas comuns
    Total   : 109
    Positive: 73
    Negative: 36

 -> Atendimento da equipe
    Total   : 290
    Positive: 229
    Negative: 61

 -> Café da manhã
    Total   : 216
    Positive: 171
    Negative: 45

----------------------------------------

## Continental

In [23]:
show_info(continental)

========================================
Hotel: continental
Total Reviews: 310
========================================
Category Summary:

 -> Atendimento da equipe
    Total   : 153
    Positive: 136
    Negative: 17

 -> Quarto
    Total   : 157
    Positive: 119
    Negative: 38

----------------------------------------

## Foz Plaza

In [24]:
show_info(foz_plaza)

========================================
Hotel: foz_plaza
Total Reviews: 468
========================================
Category Summary:

 -> Atendimento da equipe
    Total   : 162
    Positive: 142
    Negative: 20

 -> Quarto
    Total   : 182
    Positive: 133
    Negative: 49

 -> Áreas comuns
    Total   : 124
    Positive: 96
    Negative: 28

----------------------------------------

## Nadai

In [25]:
show_info(nadai)

========================================
Hotel: nadai
Total Reviews: 812
========================================
Category Summary:

 -> Atendimento da equipe
    Total   : 253
    Positive: 209
    Negative: 44

 -> Quarto
    Total   : 239
    Positive: 152
    Negative: 87

 -> Áreas comuns
    Total   : 167
    Positive: 121
    Negative: 46

 -> Café da manhã
    Total   : 153
    Positive: 125
    Negative: 28

----------------------------------------

## Taroba

In [26]:
show_info(taroba)

========================================
Hotel: taroba
Total Reviews: 4316
========================================
Category Summary:

 -> Atendimento da equipe
    Total   : 1421
    Positive: 1254
    Negative: 167

 -> Experiência
    Total   : 335
    Positive: 305
    Negative: 30

 -> Café da manhã
    Total   : 518
    Positive: 426
    Negative: 92

 -> Restaurante/Bar
    Total   : 251
    Positive: 175
    Negative: 76

 -> Banheiro
    Total   : 150
    Positive: 79
    Negative: 71

 -> Quarto
    Total   : 889
    Positive: 697
    Negative: 192

 -> Localização
    Total   : 262
    Positive: 255
    Negative: 7

 -> Áreas comuns
    Total   : 490
    Positive: 331
    Negative: 159

----------------------------------------

## Viale Cataratas

In [27]:
show_info(viale_cataratas)

========================================
Hotel: viale_cataratas
Total Reviews: 930
========================================
Category Summary:

 -> Quarto
    Total   : 274
    Positive: 173
    Negative: 101

 -> Áreas comuns
    Total   : 128
    Positive: 78
    Negative: 50

 -> Experiência
    Total   : 110
    Positive: 91
    Negative: 19

 -> Café da manhã
    Total   : 137
    Positive: 111
    Negative: 26

 -> Atendimento da equipe
    Total   : 180
    Positive: 147
    Negative: 33

 -> Restaurante/Bar
    Total   : 101
    Positive: 56
    Negative: 45

----------------------------------------

## Viale Tower

In [28]:
show_info(viale_tower)

========================================
Hotel: viale_tower
Total Reviews: 1324
========================================
Category Summary:

 -> Localização
    Total   : 176
    Positive: 166
    Negative: 10

 -> Quarto
    Total   : 367
    Positive: 278
    Negative: 89

 -> Café da manhã
    Total   : 144
    Positive: 106
    Negative: 38

 -> Atendimento da equipe
    Total   : 298
    Positive: 250
    Negative: 48

 -> Áreas comuns
    Total   : 225
    Positive: 97
    Negative: 128

 -> Experiência
    Total   : 114
    Positive: 100
    Negative: 14

----------------------------------------

In [30]:
summary_list = []
hotels = [bourbon, continental, foz_plaza, nadai, taroba, viale_cataratas, viale_tower]

for hut in hotels:
    hotel_name = hut['hotel_id'].iloc[0]
    total_reviews = hut.shape[0]
    positive_reviews = hut[hut['sentiment'] == 1].shape[0]
    negative_reviews = hut[hut['sentiment'] == 0].shape[0]
    categorias = ", ".join(hut['category'].unique())
    
    summary_list.append({
        "Hotel": hotel_name,
        "Total Reviews": total_reviews,
        "Positive Reviews": positive_reviews,
        "Negative Reviews": negative_reviews,
        "Categorias": categorias
    })

summary_df = pd.DataFrame(summary_list)
summary_df.to_csv("summary.csv", index=False)