In [1]:
import pandas as pd

In [2]:
def balance_dataset(df):
    class_0_df = df[df['class'] == 0]
    class_1_df = df[df['class'] == 1]
    max_samples = max(len(class_0_df), len(class_1_df))
    balanced_df = pd.concat([
        class_0_df.sample(n=max_samples, replace=True, random_state=42),
        class_1_df.sample(n=max_samples, replace=True, random_state=42)
    ])
    return balanced_df

In [3]:
bourbon = pd.read_csv("datasets padronizados/bourbon.csv")
continental = pd.read_csv("datasets padronizados/continental.csv")
foz_plaza = pd.read_csv("datasets padronizados/foz_plaza.csv")
nadai = pd.read_csv("datasets padronizados/nadai.csv")
taroba = pd.read_csv("datasets padronizados/taroba.csv")
viale_cataratas = pd.read_csv("datasets padronizados/viale_cataratas.csv")
viale_tower = pd.read_csv("datasets padronizados/viale_tower.csv")

In [4]:
dataset_list = [bourbon, continental, foz_plaza, nadai, taroba, viale_cataratas, viale_tower]
for dataset in dataset_list:
    print(dataset['class'].value_counts())

class
1    1032
0     222
Name: count, dtype: int64
class
1    255
0     55
Name: count, dtype: int64
class
1    371
0     97
Name: count, dtype: int64
class
1    607
0    205
Name: count, dtype: int64
class
1    3522
0     794
Name: count, dtype: int64
class
1    656
0    274
Name: count, dtype: int64
class
1    997
0    327
Name: count, dtype: int64

In [5]:
bourbon = balance_dataset(bourbon)
continental = balance_dataset(continental)
foz_plaza = balance_dataset(foz_plaza)
nadai = balance_dataset(nadai)
taroba = balance_dataset(taroba)
viale_cataratas = balance_dataset(viale_cataratas)
viale_tower = balance_dataset(viale_tower)

In [6]:
dataset_list = [bourbon, continental, foz_plaza, nadai, taroba, viale_cataratas, viale_tower]
for dataset in dataset_list:
    print(dataset['class'].value_counts())

class
0    1032
1    1032
Name: count, dtype: int64
class
0    255
1    255
Name: count, dtype: int64
class
0    371
1    371
Name: count, dtype: int64
class
0    607
1    607
Name: count, dtype: int64
class
0    3522
1    3522
Name: count, dtype: int64
class
0    656
1    656
Name: count, dtype: int64
class
0    997
1    997
Name: count, dtype: int64

In [7]:
bourbon

,text,class,date,aspect
601,A ilha de tapioca é sempre aberta após às 8hor...,0,2024-05-09 00:00:00+00:00,Café da manhã
979,Faltou empatia/cortezia ao solicitar que gelas...,0,2024-11-05 00:00:00+00:00,Atendimento da equipe
496,Atendimento deixou muito a desejar.,0,2024-02-22 00:00:00+00:00,Atendimento da equipe
85,mesmo o hotel rapidamente nos atendendo com tr...,0,2025-03-25 00:00:00+00:00,Quarto
644,ap com cadeira quebrada,0,2025-06-06 00:00:00+00:00,Quarto
...,...,...,...,...
1204,"Hotel lindo, limpo, tudo novo, decoração de mu...",1,2024-11-13 11:49:12+00:00,Áreas comuns
492,Quarto muito espaçoso e confortável,1,2024-02-25 00:00:00+00:00,Quarto
756,Fica no centro perto da ponte da amizade com p...,1,2025-07-18 19:33:35+00:00,Localização
1204,"Hotel lindo, limpo, tudo novo, decoração de mu...",1,2024-11-13 11:49:12+00:00,Áreas comuns
761,Staff muito atencioso e simpático.,1,2025-07-18 19:33:35+00:00,Atendimento da equipe

In [8]:
bourbon.to_csv("datasets balanceados/bourbon.csv", index=False)
continental.to_csv("datasets balanceados/continental.csv", index=False)
foz_plaza.to_csv("datasets balanceados/foz_plaza.csv", index=False)
nadai.to_csv("datasets balanceados/nadai.csv", index=False)
taroba.to_csv("datasets balanceados/taroba.csv", index=False)
viale_cataratas.to_csv("datasets balanceados/viale_cataratas.csv", index=False)
viale_tower.to_csv("datasets balanceados/viale_tower.csv", index=False)